.box1{
    background-color: red;
}
.box2{
    background-color: blue;

}
.box3{
    background-color: green;
 }
.box4{
    background-color: #ffff00;
}
.main div{
    width: 100px;
    height: 100px;
    /* float: left; */
}
.main{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

@media only screen and (max-width:500px){
    .main{
        flex-direction:column;
        justify-content: center;
        align-items: center;
        /* background-color: red; */
    }
}
